<div style="position:relative;width:100%;">
	<div class="draw-items">
		<div title="文本" data-geotype="POINT" data-commontype="text" class="draw-item plot-text-icon" data-dojo-attach-point="textIcon"></div>

		<div title="点" data-geotype="POINT" data-commontype="point" class="draw-item plot-point-icon"></div>
		<div title="直线" data-geotype="LINE" data-commontype="polyline" class="draw-item plot-line-icon"></div>
		<div title="折现" data-geotype="POLYLINE" data-commontype="polyline" class="draw-item plot-polyline-icon"></div>
		<div title="自由曲线" data-geotype="FREEHAND_POLYLINE" data-commontype="polyline" class="draw-item plot-freehand-polyline-icon"></div>
		<div title="三角形" data-geotype="TRIANGLE" data-commontype="polygon" class="draw-item plot-triangle-icon"></div>
		<div title="矩形" data-geotype="EXTENT" data-commontype="polygon" class="draw-item plot-extent-icon"></div>
		<div title="圆形" data-geotype="CIRCLE" data-commontype="polygon" class="draw-item plot-circle-icon"></div>
		<div title="椭圆" data-geotype="ELLIPSE" data-commontype="polygon" class="draw-item plot-ellipse-icon"></div>
		<div title="自由多边形" data-geotype="FREEHAND_POLYGON" data-commontype="polygon" class="draw-item plot-freehand-polygon-icon"></div>
		<div title="双箭头" data-geotype="DOUBLE_ARROW" data-commontype="polygon" class="draw-item plot-double_arrow-icon"></div>
		<div title="简单箭头" data-geotype="SIMPLE_ARROW" data-commontype="polygon" class="draw-item plot-simple_arrow-icon"></div>
		<div title="自定义箭头" data-geotype="CUSTOM_ARROW" data-commontype="polygon" class="draw-item plot-custom_arrow-icon"></div>
		<div title="燕尾箭头" data-geotype="TAILED_ARROW" data-commontype="polygon" class="draw-item plot-tailed_arrow-icon"></div>
		<div title="自定义燕尾箭头" data-geotype="CUSTOM_TAILED_ARROW" data-commontype="polygon" class="draw-item plot-custom_tailed-icon"></div>
		<div title="三箭头" data-geotype="MULTI_ARROW" data-commontype="polygon" class="draw-item plot-multi_arrow-icon"></div>
		<div title="矩形旗" data-geotype="RECT_FLAG" data-commontype="polygon" class="draw-item plot-rect_flag-icon"></div>
		<span class="drawings-clear " style="float: right;padding-right: 10px" data-dojo-attach-point="btnClear">清除</span>
		<span class="drawings-clear jimu-float-trailing" data-dojo-attach-point="btnExport">导出}</span>
	</div>
</div>