<div style="width:100%; height:100%" >
	<div>
		<div  data-dojo-attach-point="stnmDiv" class="rdijit-form-btn base-bg-info"     ></div>


	</div>

	<div style="width:100% ;">
		<div data-dojo-attach-point="divNode" class="rdijit-form-btn base-bg-info"     ></div>
		<div data-dojo-attach-point="divNode1" class="rdijit-form-btn base-bg-info"     ></div>
		<div data-dojo-attach-point="divNode2" class="rdijit-form-btn base-bg-info"     ></div>

	</div>
	<div style="width:100% ;"
			>
	<div data-dojo-attach-point="divNode3" class="rdijit-form-btn base-bg-info"     ></div>
	<div data-dojo-attach-point="divNode4" class="rdijit-form-btn base-bg-info"     ></div>
	<div data-dojo-attach-point="divNode5" class="rdijit-form-btn base-bg-info"     ></div>

	</div>

	<div>
		<div data-dojo-attach-point="divNode6" class="rdijit-form-btn base-bg-info" data-dojo-attach-event="click:_centerAt" >定位</div>
		<div data-dojo-attach-point="divNode7" class="rdijit-form-btn base-bg-info" data-dojo-attach-event="click:_setExtent" >定位到范围</div>


	</div>

	<div>
		<div data-dojo-attach-point="divNode8" class="rdijit-form-btn base-bg-info"     ></div>
		<div data-dojo-attach-point="divNode9" class="rdijit-form-btn base-bg-info"     ></div>


	</div>



</div>