<div style="display:block;width: 100%;height: 100%;background-color: #F9FAFF; box-shadow: 0 0 10px #888;">
    <div class="floatTitle" data-dojo-attach-point="titleContainer"  style="float:left;cursor:move;width: 100%;height:30px;background-color:rgba(211, 211, 211, 0.63)"  >
          <div style="float: left;padding-left:20px;padding-top:5px;font-family: 微软雅黑;font-size: 13px;font-weight: bold"  >${titleName}</div>
          <div style="float: right" class="float-panel-close-icon" data-dojo-attach-event="click:_closeSelf"></div>
    </div>
    <!--<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'titlele',position:['above']" >-->
        <!--添加“订货明细”-->
    <!--</div>-->
    <div style="position:absolute;float:left;position: absolute; left: 0; top: 31px; right: 0;  bottom: 0;  overflow: hidden;" data-dojo-attach-point="widgetContainer"></div>
</div>
