<div style=" right:10px; z-index: 99;">
	<image src="base/images/map/legend.png" title="点击查看图例" data-dojo-attach-event="click:showLegend"
		   style="width: 35px;cursor: pointer; height: 35px;top: auto;bottom:60px; right:30px;position: absolute;"></image>
<!-- 	<div style="width: 236px; height: 232px; display:   none;top: 205px;right:70px;position: absolute; background-color: rgba(136, 136, 136, 0.72);border-radius: 2px" data-dojo-attach-point="listContainer">
		<img src="base/images/map/mapLegend/tuli_iot.png" data-dojo-attach-point="tuli_node" style="width: 100%;height: 100%"/>
	</div> -->
	<div style="font-weight:normal;font-size:12px;width: 240px; height: 188px; display:   none;z-index:900;top:auto;bottom: 60px; right: 70px;position: absolute; background-color: #ebebeb;border-radius: 2px" data-dojo-attach-point="listContainer">
	   <!--   <div style="float:left;padding-left:10px">站类型:</div> -->
		 <div style="float:left; margin:5px;background-color:#fff;padding-top:10px;padding-bottom:10px">
		   
		     <div style="float:left;width:110px;padding-left:10px">
		         <div style="float:left;width:100%"><div style="float:left;width:10px">R </div><div style="padding-left:8px">&nbsp;&nbsp;雨量站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">L </div><div style="padding-left:8px">&nbsp;&nbsp;水位/物位站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">H </div><div style="padding-left:8px">&nbsp;&nbsp;水文站</div></div>
		       	 <div style="float:left;width:100%"><div style="float:left;width:10px">F </div><div style="padding-left:8px">&nbsp;&nbsp;流量站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">Q </div><div style="padding-left:8px">&nbsp;&nbsp;水质站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">W </div><div style="padding-left:8px">&nbsp;&nbsp;多功能站</div></div>
		        
		     </div>
		     <div style="float:left;width:120px;padding-left:10px;border-left:solid 1px #E0DCDC">
		         <div style="float:left;width:100%"><div style="float:left;width:10px">D </div><div style="padding-left:8px">&nbsp;&nbsp;排水管网站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">C </div><div style="padding-left:8px">&nbsp;&nbsp;气象站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">M </div><div style="padding-left:8px">&nbsp;&nbsp;移动/人工站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">V </div><div style="padding-left:8px">&nbsp;&nbsp;视频站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">S </div><div style="padding-left:8px">&nbsp;&nbsp;土壤墒情站</div></div>
		         <div style="float:left;width:100%"><div style="float:left;width:10px">P </div><div style="padding-left:8px">&nbsp;&nbsp;雪量冰雹站</div></div>
		      
		     </div>
		 </div>
		<div style="float:left;height:50px;width:230px;background-color:#fff;padding-left:10px;margin-left:5px;margin-right:5px;padding-bottom:0px">
		     <div style="float:left;width:70px;padding:10px">
		         <div style="margin-left:10px;width:12px; height:12px;background-color: #dc0012"></div>
		         <div style="float:left;padding-left:5px">报警</div>
		     </div>
		     <div style="float:left;width:70px;padding:10px">
		         <div style="margin-left:10px;width:12px; height:12px;background-color: #198f39"></div>
		         <div style="float:left;padding-left:5px">正常</div>
		     </div>
		     <div style="float:left;width:70px;padding:10px">
		         <div style="margin-left:10px;width:12px; height:12px;background-color: #858481;"></div>
		         <div style="float:left;padding-left:5px">异常</div>
		     </div>
		        <!-- <div style="float:left;width:70px;padding:5px">
		         <div style="margin-left:10px;width:12px; height:12px;background-color: fb7b24;"></div>
		         <div style="float:left">延迟</div>
		     </div> -->
		 </div>
	</div>
</div>