<div  >
	<button  data-dojo-attach-event="click:showLayers" title="图层控制" type="button" class="btn btn-default"  style="width: 35px; height: 35px;top: 160px;  right:30px;position: absolute;">
	  <span class="glyphicon glyphicon-tasks" style="margin-left: -3px;" aria-hidden="true"></span>  
	</button>
	<!-- <div class="btn-group-vertical" style="width: 35px; height: 35px;top: 160px;  right:90px;position: absolute;"  role="group" aria-label="...">
		<button type="button" class="btn btn-default">Left</button> 
  		<button type="button" class="btn btn-default">Middle</button> 
  		<button type="button" class="btn btn-default">Right</button>
	</div>   --> 
    <ul class="list-group map_layer_container"  data-dojo-attach-point="listContainer"></ul>   
</div> 
