.base-admin-application-AppCompsPanel{

}

.base-admin-application-AppCompsPanel .top2{
    width:100%;
    height: 42px;
    padding-top: 3px;
    background-color: #d9dfe5;
    /*box-shadow:  0 0 3px #888;*/
    border-bottom: solid 1px rgba(136, 136, 136, 0.34);
    vertical-align: middle;
}


.base-admin-application-AppCompsPanel .region2{

    height: 80%;
    width:100%;
    margin-bottom: 50px;
    /*bottom: 0px;*/
    /*background-color: #ebebeb;*/
    /*box-shadow:  8px 0 0 #888;*/

    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #d9dfe5;
}