<div style="width:100%;height:100%;border-right:1px solid #BFBFBF; ">
    <nav class="navbar-default navbar-static-side full-height leftMenu" role="navigation" style="border-top: 49px solid transparent;">
        <div class="sidebar-collapse">
        	<div class="text-center  navbar-minimalize navTitle"> 
        		<a data-dojo-attach-event="click:SmoothlyMenu" ><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;导航</a>
        	</div>   
            <ul class="nav" id="side-menu"> 
                
            </ul>
        </div>
    </nav>
</div>