<div style="width:100%;height:100%">
      <div class="main12">
          <div style="width: 100%;height:100%" data-dojo-attach-point="gridDiv"></div>
      </div>
      <div class="bottom12">
          <div style="padding-left:20px;padding-top: 20px;">
              <button type="button"   class="btn btn-primary" data-dojo-attach-event="click:addService" style="width: 80px">添加</button>
              <button type="button"   class="btn btn-danger" data-dojo-attach-event="click:deleteService" style="width: 80px; margin-left:10px">删除</button>
          </div>
      </div>

</div>