
    <div class="container-fluid">
    <div class="row">
    	<div class="col-sm-3 col-md-2 sidebar">
    	  <ul class="nav nav-sidebar">
            <li><a href="#">User Management</a></li>
            <li class="active"><a href="#">Service <span class="sr-only">(current)</span></a></li>
            <li><a href="#" id="admin_style">Style</a></li>
            <li><a href="#" id="admin_layout">Layout</a></li>
            <li><a href="#" id="admin_widget">Widget</a></li>
            <li><a href="#" id="admin_page"">Page</a></li>
          </ul>
    	</div>
    
    	<div id="admin_main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    		 
    	</div>
    </div>
    </div>
