<div class="AppAccess" ms-controller="AppAccess${id}">
					<div class="col-lg-12" id="divContentRole"  style="margin-left: -10px; padding-left: 1px;">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">关键字</div>
									<input class="form-control" style="width: 190px;" name="roleword" id="roleword" type="text">
							<a type="button" id="btn_role_query" class="btn btn-default"  data-dojo-attach-event="click:showRole" >查询</a>
								</div>
							</div>
						<table id="roleTable"></table>
						<div id="gridPagerForRole" style="height: 40px"></div>
						<input id="allSelectedRecords" type="hidden" ></input>
					</div>
 
</div>
