<div style="width: 100%;height:100%">
    <div class="top2">
        <div class="btn-group" style="padding-left:32px">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                组件分类定位 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="background-color: #f3f3f3" role="menu">
                <li><a  >IOT组件</a></li>
                <li><a  >基础组件</a></li>
                <li><a  >雨情组件</a></li>
                <li><a  >水情组件</a></li>
            </ul>
        </div>
    </div>
    <div class="region2">
        <div style="width:100%;height:100%;" data-dojo-attach-point="compsNode"></div>
    </div>
</div>