<div style="width:100%;height:100%">
    <div class="leftPanel" data-dojo-attach-point="leftContainer">
        <div style="background-color: #eef2f5;width:100%;height:100%;padding-top:45px" data-dojo-attach-point="compsList">
                <!--<div class="list-item list-item-selected">-->
                    <!--<div class="comp_list_item_icon"></div>-->
                    <!--IOT组件-->
                <!--</div>-->
                <!--<div class="list-item">-->
                    <!--<div class="comp_list_item_icon"></div>-->
                    <!--监控组件-->
                <!--</div>-->
                <!--<div class="list-item">-->
                    <!--<div class="comp_list_item_icon"></div>-->
                    <!--雨情组件-->
                <!--</div>-->
        </div>

    </div>
    <div class="mainPanel" data-dojo-attach-point="mainContainer">
        <div style="float: left;width: 100%;height:100%;" data-dojo-attach-point="contentDiv">

        </div>
    </div>
</div>