<div>
	<div class="col-lg-8">
		<div class="content11" ms-controller="appinfopanel_appinfo" id="appInfoDiv" >
			<form class="form-horizontal" id="appInfoForm" name="appInfoForm"
				enctype="multipart/form-data">
				<div class="error_box"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label" style="font-weight: normal">应用名称<span class="text-danger">*</span></label>
					<div class="col-sm-10">  
						<input name="appNmLabel" type="text" 
							data-dojo-attach-event="onkeyup: _onKeyUp"
							ms-duplex="model.appNm" mx-attr-value="model.appNm" 
							placeholder="请填写应用名称" class="form-control"> <label
							style="display: none; color: red; font-size: 12px"
							data-dojo-attach-point="appNameLabelError">文字过长不符合要求</label>
					</div>
				</div>
				<!--<div class="hr-line-dashed"></div>-->
				<div class="form-group">
					<label class="col-sm-2 control-label" style="font-weight: normal">业务类型<span class="text-danger">*</span></label>
					<div class="col-sm-10">
						<select class="form-control" ms-duplex="model.categoryId"
							placeholder="请选择业务类型">
							<option ms-repeat-el="catalogs" ms-attr-value="el.cmptCatId">{{el.cmptCatNm}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" style="font-weight: normal">行政区域<span class="text-danger">*</span></label>
					<div class="col-sm-10">
						<div data-dojo-attach-point="div_regions"></div>
					</div>
				</div>
				<!--<div class="hr-line-dashed"></div>-->
				<div class="form-group">
					<label class="col-sm-2 control-label" style="font-weight: normal">应用描述</label>
					<div class="col-sm-10">
						<textarea class="form-control" ms-duplex="model.nt"
							mx-attr-value="model.nt" placeholder="请填写相关描述信息" rows="3"></textarea>
					</div>
				</div>
				<!--<div class="hr-line-dashed"></div>-->
				<div class="form-group">
					<label class="col-sm-2 control-label" style="font-weight: normal">系统图标</label>
					<div class="col-sm-10">
						<img ms-src="model.thumbnail" class="img-thumbnail"
							style="width: 100px; height: 100px; margin-top: -70px">
						<div style="display: inline-block">
							<div
								style="display: inline-block; color: #888888; font-size: 13px">
								提示:图片格式仅支持png,jpg,gif格式 <br />图片大小不能超过2M <br />100*100 <br /> <br />
								<label class="btn btn-default btn-sm" for="exampleInputFile">浏览</label>
							</div>

							<input style="display: none" type="file" id="exampleInputFile"
								name="files"> <span class="filename hidden"
								style="display: inline-block;"></span>
							<button type="button" id="upload"
								class="btn btn-default btn-sm hidden">上传</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-4" >
		<label class="col-sm-2 control-label" style="font-weight: normal; text-align: right;">该应用授权给以下角色</label>
		<div  class="col-sm-10"  data-dojo-attach-point="appAccessDiv"></div>
	</div>

</div>
